* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

body {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f5d5;
}

a {
  text-decoration: none;
  color: #3a51e0;
}